// brand color values
$color-brand: $color-ferguson-blue !default
$color-brand-invert: findColorInvert($color-brand) !default
$color-brand-border: transparent !default

// primary color values
$color-primary: $color-curious-blue !default
$color-primary-invert: findColorInvert($color-primary) !default
$color-primary-border: transparent !default

$color-secondary: $color-fun-blue !default
$color-secondary-invert: findColorInvert($color-secondary) !default
$color-secondary-border: transparent !default

//status color values
$color-info: $color-curious-blue2 !default
$color-info-invert: findColorInvert($color-info) !default
$color-info-border: transparent !default

$color-success: $color-ocean-green !default
$color-success-invert: findColorInvert($color-success) !default
$color-success-border: transparent !default

$color-warning: $color-amber !default
$color-warning-invert: findColorInvert($color-warning) !default
$color-warning-border: transparent !default

$color-danger: $color-alizarin-crimson !default
$color-danger-invert: findColorInvert($color-danger) !default
$color-danger-border: transparent !default

// light/dark color values
$light: $color-white-ter !default
$dark: $color-grey-darker !default
$light-invert: $dark !default
$dark-invert: $light !default


// General colors
$background: $color-white-ter !default
$border: $color-grey-lighter !default
$border-hover: $color-grey-light !default

// Text colors
$text: $color-ferguson-gray !default
$text-invert: findColorInvert($text) !default
$text-light: $color-grey !default
$text-strong: $color-grey-darker !default

// Code colors
$code: $color-alizarin-crimson !default
$code-background: $background !default
$pre: $text !default
$pre-background: $background !default

// Link colors
$link: $color-curious-blue !default
$link-invert: findColorInvert($link) !default
$link-visited: $color-heliotrope-purple !default

$link-hover: $color-grey-darker !default
$link-hover-border: $color-grey-light !default

$link-focus: $color-grey-darker !default
$link-focus-border: $color-curious-blue !default

$link-active: $color-grey-darker !default
$link-active-border: $color-grey-dark !default

// Typography
$family-primary: $family-sans-serif !default
$family-code: $family-monospace !default

$size-small: $size-7 !default
$size-normal: $size-6 !default
$size-medium: $size-5 !default
$size-large: $size-4 !default


// Lists and maps
$color-shades: ("shade-1": ("tint", 60),"shade-2": ("tint", 40),"shade-3": ("tint", 20),"shade-5": ("shade", 20),"shade-6": ("shade", 40),"shade-7": ("shade", 60))

$colors: ( "white": ($color-white, $color-black, transparent), "black": ($color-black, $color-white, transparent), "light": ($light, $light-invert, transparent), "dark": ($dark, $dark-invert, transparent), "brand": ($color-brand, $color-brand-invert, $color-brand-border), "primary": ($color-primary, $color-primary-invert, $color-primary-border), "secondary": ($color-secondary, $color-secondary-invert, $color-secondary-border), "link": ($link, $link-invert, transparent), "info": ($color-info, $color-info-invert, $color-info-border), "success": ($color-success, $color-success-invert, $color-success-border), "warning": ($color-warning, $color-warning-invert, $color-warning-border), "danger": ($color-danger, $color-danger-invert, $color-danger-border)) !default

$shades: ( "black-bis": $color-black-bis, "black-ter": $color-black-ter, "grey-darker": $color-grey-darker, "grey-dark": $color-grey-dark, "grey": $color-grey, "grey-light": $color-grey-light, "grey-lighter": $color-grey-lighter, "white-ter": $color-white-ter, "white-bis": $color-white-bis) !default

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default
